<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Show Menus</title>
</head>


<h1><%= menu.weekday %> Menu</h1>

<p> <a href="/menus/<%=menu._id%>/edit">Edit</a>
</p>
<p>
<div>
  <label for="breakfast">Breakfast</label>
  <ul><li> <%= menu.breakfast%></li></ul>
</div>
<div>
  <label for="dish">Lunch</label>
  <ul>
  <li> <%= menu.lunch%> </li>
</ul>
</div>
<div>
  <label for="dish">Dinner</label>
  <ul>
  <li><%= menu.dinner%></li>
</ul>
</div>
</p>

<footer>
  <a href="/menus">All Menus</a>

  <div class="container">
    <div class="copyright">
      <p>
      <p>&copy; 2022.VJTI ,Matunga.</p>
      </p>
    </div>

  </div>


</footer>